* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
}

body {
    font-family: sans-serif;
    background-image: url("../../img/login.jfif");
}

.form {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 10px;
    color: white;
}

input {
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.inputSubmit {
    border: none;
    padding: 15px;
    background-color: brown;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.inputSubmit:hover {
    background-color: crimson;

}

h1 {
    color: crimson;
    text-align: center;
}

p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 950px) {
    .form {
        width: 25%;
    }
    input {
        left: 1.5vh;
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        width: 25%;
    }
    input {
        left: -4vh;
        position: relative;
    }
}

@media only screen and (max-width: 400px) {
    .form {
        width: 25%;
    }
    input {
        left: -7vh;
        position: relative;
    }
}

@media only screen and (max-width: 300px) {
    .form {
        width: 25%;
    }
    input {
        left: -10vh;
        position: relative;
    }
}

@media only screen and (max-width: 412px) {
    .form {
        width: 25%;
    }
    input {
        left: -6vh;
        position: relative;
    }
}

@media only screen and (max-width: 820px) {
    .form {
        width: 25%;
    }
    input {
        left: -0.5vh;
        position: relative;
    }
}

@media only screen and (max-width: 912px) {
    .form {
        width: 25%;
    }
    input {
        left: 0.5vh;
        position: relative;
    }
}

@media only screen and (max-width: 540px) {
    .form {
        width: 25%;
    }
    input {
        left: -5vh;
        position: relative;
    }
}

@media only screen and (max-width: 280px) {
    .form {
        width: 25%;
    }
    input {
        left: -11vh;
        position: relative;
    }
}